.button {
    width: 220px;
    height: 210px;

    min-width: 220px;
    min-height: 210px;

    background-color: #F2F4F8;
    border: none;

    font-size: 18px;

    transition: background-color .3s;
    cursor: pointer;

    &:hover {
        background-color: #d3d5d8;
    }
}

.plus {
    font-size: 35px;
}