.forecast {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.list {
    display: flex;
    gap: 35px;
    overflow-x: auto;
}

.trip {
    color: #3A406D;
    width: fit-content;
}